:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.margin-x {
    margin-top: 95px;
}

@media only screen and (max-width: 600px) {
  .margin-x {
      margin-top: 70px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 736px){
  .margin-x {
      margin-top: 80px;
  }
}

@media only screen and (min-width: 737px) and (max-width: 1000px){
  .margin-x {
      margin-top: 75px;
  }
}