<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="container">
      <div class="login">
        <div class="form">
          <div class="logo">
            <img src="../../../assets/img/logo_backgroundless1.png" />
            <p class="motto">Create, Share and Code On!</p>
          </div>
          <form class="login-form" [formGroup]="usuarioForm" (ngSubmit)="crearUsuario($event)">
            
            <p class="guide-text">Nombre Completo</p>
            <input class="col-12" name="nombreCompleto" id="nombreCompleto" type="text" formControlName="nombreCompleto" >

            <div class="inline" *ngIf="nombreCompletoUsuarioForm.invalid && (nombreCompletoUsuarioForm.dirty || nombreCompletoUsuarioForm.touched)" class="alert alert-danger">

              <div *ngIf="nombreCompletoUsuarioForm.errors.required">
                El nombre es requerido
              </div>
              <div *ngIf="nombreCompletoUsuarioForm.errors.minlength">
                El nombre debe ser de 8 caracteres mínimo
              </div>
              <div *ngIf="nombreCompletoUsuarioForm.errors.pattern">
                No es un nombre válido
              </div>
            </div>

            <p class="guide-text">Fecha de Nacimiento</p>
            <input class="col-12" name="fechaNacimiento" id="fechaNacimiento" type="date" formControlName="fechaNacimiento"/>

            <div class="inline" *ngIf="fechaNacimientoForm.invalid && (fechaNacimientoForm.dirty || fechaNacimientoForm.touched)"
              class="alert alert-danger">
            
              <div *ngIf="fechaNacimientoForm.errors.required">
                La fecha de Nacimiento es requerida
              </div>
              <div *ngIf="fechaNacimientoForm.errors.minlength">
                El nombre debe ser de 8 caracteres mínimo
              </div>
            
            </div>
            
            <p class="guide-text">Nombre de Usuario</p>
            <input class="col-12" name="nombreUsuario" id="nombreUsuario" type="text" formControlName="nombreUsuario" />

            <div class="inline" *ngIf="nombreUsuarioForm.invalid && (nombreUsuarioForm.dirty || nombreUsuarioForm.touched)" class="alert alert-danger">
            
              <div *ngIf="nombreUsuarioForm.errors.required">
                El nombre de Usuario es requerido
              </div>
              <div *ngIf="nombreUsuarioForm.errors.pattern">
                El nombre de usuario no debe tener caracteres especiales
              </div>
            
            </div>
            <div *ngIf="usuarioExiste" class="alert alert-danger">
              Otro usuario registró este nombre de usuario
            </div>

            <p class="guide-text">Correo</p>
            <input class="col-12" name="correo" id="correo" type="text" formControlName="correo"/>

            <div class="inline" *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched)" class="alert alert-danger">
            
              <div *ngIf="correoForm.errors.required">
                El correo es requerido
              </div>
              <div *ngIf="correoForm.errors.pattern">
                No es un correo válido
              </div>


            </div>

            <div *ngIf="correoExiste" class="alert alert-danger">
              Otro usuario registró este correo
            </div>

            <p class="guide-text">Contraseña</p>
            <input class="col-12" name="contrasenia" id="contrasenia" type="password" formControlName="contrasenia"/>

            <div class="inline" *ngIf="contraseniaForm.invalid && (contraseniaForm.dirty || contraseniaForm.touched)"
              class="alert alert-danger">
            
              <div *ngIf="contraseniaForm.errors.required">
                Debe escribir una contraseña
              </div>
              <div *ngIf="contraseniaForm.errors.minlength">
                La contraseña debe ser de 8 caracteres mínimo
              </div>
              <div *ngIf="contraseniaForm.errors.maxlength">
                La contraseña es demasiado larga
              </div>

              <div *ngIf="contraseniaForm.errors.pattern">
                La contraseña debe tener mayúsculas, números y caracteres especiales
              </div>
              
            </div>

            <p class="guide-text">Género</p>
            <select class="col-12 select-style" name="genero" id="genero" formControlName="genero">
              <option selected disabled hidden value="">Escoja una Opción</option>
              <option value="f">Femenino</option>
              <option value="m">Masculino</option>
            </select>

            <div class="inline" *ngIf="generoForm.invalid && (generoForm.dirty || generoForm.touched)" class="alert alert-danger">
            
              <div *ngIf="generoForm.errors.required">
                Debe seleccionar su Género
              </div>
            </div>

            <button class="button-text" >
              Crea tu Cuenta
            </button>
            <p class="message">¿Ya estás registrado?
              <a routerLink="/login">Inicia sesión</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>