app-home {
    padding-left: 0;
    padding-right: 0; 
}

.center {
    margin: 0 auto;
}

.margin-x {
    margin-top: 95px;
}

.titulo {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #45453F;
}

.svg-overall {
    width: 10px;
    height: auto;
}

.file-name {
    color: #235bd4ee;
}

.file-name:hover {
    color: #C8364E !important;
}
.file-info {
    color: rgba(0,0,0,.54);
}

.space-info {
    margin-top: 10px;
}

.icon-size {
    width: 40px;
}

.text-primary {
  color: #235bd4ee !important;
}

.text-primary:hover {
  color: #C8364E !important;
}

.text-secondary {
  color: #45453F !important;
}

.text-secondary:hover {
  color: #329C99 !important;
}

.my-text{
  display: inline;
  margin-left: 5px;
}

.card-padding {
    margin-bottom: 10px;
}

.btn-light:hover {
    background-color: #fff;
}

.name-input {
    margin: auto auto 30px auto ;
    width: 70%
}

.modal-label {
    padding-top: 10px;
    padding-left: 75px;
    text-align: center;
}

.link-color {
    color:#329C99;
}

.card-block {
    min-height: 300px;
}