<div class="container">
  <div class="row">

  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Crea tu Código</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-file prefix grey-text"></i>
            <input mdbInputDirective type="text" id="nombre-archivo" name="nombre-archivo" [(ngModel)]="nombreArchivo" class="form-control">
            <label data-error="¡Escribe un nombre!" data-success="¡Bien!" for="nombre-archivo">Nombra tu Archivo</label>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn class="btn btn-light waves-light" mdbWavesEffect (click)="frame.hide()">Cerrar</button>
          <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="irAEditor(nombreArchivo)">Crear</button>
        </div>
      </div>
    </div>
  </div>

<div mdbModal #frame2="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Crea tu Carpeta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="far fa-folder-open prefix grey-text"></i>
          <input type="text" id="nombreCarpeta" class="form-control validate" [(ngModel)]="nombreCarpeta" mdbInputDirective>
          <label data-error="wrong" data-success="right" for="nombreCarpeta">Nombre de la Carpeta</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn class="btn btn-light waves-light" mdbWavesEffect (click)="frame2.hide()">Cerrar</button>
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="crearCarpeta(nombreCarpeta); frame2.hide()">Crear</button>
      </div>
    </div>
  </div>
</div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <h4 class="titulo">Mi Espacio</h4>
      <table>
        <tr>
          <td>
            <div class="new-code">
              
              <div class="dropdown" mdbDropdown>
                <!--Trigger-->
                <button mdbDropdownToggle mdbBtn class="btn btn-light dropdown-toggle waves-light" type="button" mdbWavesEffect>
                  <i class="fas fa-3x fa-plus text-primary"></i>
                </button>
                
                <p class="my-text">Nuevo</p>
                <!--Menu-->
                <div class="dropdown-menu dropdown-primary">
                  <a data-toggle="modal" data-target="#basicExample" (click)="frame.show()" class="dropdown-item" href="#">Archivo</a>
                  <a data-toggle="modal" data-target="#basicExample2" (click)="frame2.show()" class="dropdown-item" href="#">Carpeta</a>
                </div>
              </div>
              
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="space-info">
              <a class="btn btn-light" href="#" role="button">
                <i class="fas fa-2x fa-users icon-size text-secondary"></i>
              </a>
              <p class="my-text">Compartidos</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="space-info">
              <a class="btn btn-light" href="#" role="button">
                <i class="far fa-2x fa-trash-alt icon-size text-secondary"></i>
              </a>
              <p class="my-text">Papelera de Reciclaje</p>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="center col-xl-9 col-lg-9 col-md-6 col-sm-12 col-12">
      <div class="titulo">        
        <h3>Mis Proyectos</h3>
      </div>

      
      <div>
      <hr>
      
      <h5>
        Archivos Recientes
      </h5>

      <div class="card-group center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card card-padding" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">prototipo.js</h5>
              <h6 class="card-subtitle mb-2 text-muted">Javascript</h6>
              <p class="card-text">Última Modificación: 14/07/2018</p>
              <a href="#" class="link-color card-link">Ver Código</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card card-padding" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">prototipo.js</h5>
              <h6 class="card-subtitle mb-2 text-muted">Javascript</h6>
              <p class="card-text">Última Modificación: 14/07/2018</p>
              <a href="#" class="link-color card-link">Ver Código</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card card-padding" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">prototipo.cpp</h5>
              <h6 class="card-subtitle mb-2 text-muted">C++</h6>
              <p class="card-text">Última Modificación: 14/07/2018</p>
              <a href="#" class="link-color card-link">Ver Código</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h4>Mis archivos</h4>
        <table class="table">
          <!-- Table Head -->
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Última Modificación</th>
            <th scope="col">Extensión</th>
            <th scope="col">Acciones</th>
          </tr>
          <!-- Table Head -->
          <!-- Table Body -->
          <tr *ngFor="let archivo of archivos">
            <td>
              <a class="file-name" (click)="irAEditorId(archivo._id)">
                  
                <div style="display: none;">
                  {{archivo._id}}
                </div>
                  
                {{archivo.nombre_archivo}}
              </a>
                
              </td>
            <td class="file-info">{{archivo.fecha_creacion | date: 'dd/MM/yyyy'}}</td>
            <td class="file-info">{{archivo.fecha_modificacion | date: 'dd/MM/yyyy'}}</td>
            <td class="file-info">{{archivo.id_tipo_archivo.nombre_tipo_archivo}}</td>
            <td>
              <i class="fas fa-2x fa-share icon-size text-secondary"></i>
              <i class="far fa-2x fa-trash-alt icon-size text-secondary"></i>
            </td>
          </tr>
          <!-- Table Head -->
        </table>
      </div>
    </div>
   </div>
  </div>
</div>
