<!--Navbar-->
<mdb-navbar *ngIf="nav.visible" SideClass="mb-1 navbar navbar-expand-lg navbar-dark special-color fixed-top scrolling-navbar">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="/">
        <img class="icon-size" src="../../../assets/img/icon_backgroundless.png" alt="#Code_On!">
      </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mt-2 mr-sm-4" type="text" placeholder="Buscar">
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item">
        <a routerLink="/profile">
        </a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" style="margin-top: 1px;" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img [src]="userPicture" alt="Avatar" style="width: 40px" class="img-round">
           <span class="dropdown-text">
              {{ userName }}
           </span>
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/perfil">Ver Perfil</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

    
      <li class="nav-item mt-2">
        <a class="nav-link" (click)="logout()">Salir</a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

