.navbar {
    padding: 11px !important;
}

.navbar-brand {
    margin-right: -5.5rem;
}

.bg-primary {
    background-color: #3d5f7a !important;
}

.icon-size {
    padding: 2px;
    border-radius: 3px;
    width: 28%;
    height: auto;
}

.bg-primary .navbar-nav .active > .nav-link:hover {
    color: #fff !important;
}

.img-round {
  border-radius: 50%;
  margin-right: 5px;
}

.search-size {
    width: 300px;
}

.dropdown-text:hover {
    color: #329C99 !important;
}

.dropdown-text:focus {
    color: #329C99 !important;
}