<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="container">
            <div class="login">
                <div class="form">
                    <div class="logo">
                        <img src="../../../assets/img/logo_backgroundless1.png" />
                        <p class="motto">Create, Share and Code On!</p>
                    </div>

                    <form class="login-form" [formGroup]="usuarioForm" (ngSubmit)="login($event)">
                        
                        <p class="guide-text">Correo</p>
                        <input type="text" name="correo" id="correo" formControlName="correo"/>

                        <div class="inline" *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched)" class="alert alert-danger">
                        
                            <div *ngIf="correoForm.errors.required">
                                El correo es requerido
                            </div>
                            <div *ngIf="correoForm.errors.pattern">
                                No es un correo válido
                            </div>
                        
                        </div>

                        <p class="guide-text">Contraseña</p>
                        <input type="password" name="contrasenia" id="contrasenia" formControlName="contrasenia"/>

                        <div class="inline" *ngIf="contraseniaForm.invalid && (contraseniaForm.dirty || contraseniaForm.touched)" class="alert alert-danger">
                        
                            <div *ngIf="contraseniaForm.errors.required">
                                Debe escribir una contraseña
                            </div>
                            <div *ngIf="contraseniaForm.errors.minlength">
                                La contraseña debe ser de 8 caracteres mínimo
                            </div>
                            <div *ngIf="contraseniaForm.errors.maxlength">
                                La contraseña es demasiado larga
                            </div>
                        
                            <div *ngIf="contraseniaForm.errors.pattern">
                                La contraseña debe tener mayúsculas, números y caracteres especiales
                            </div>
                        </div>
                        <button class="button-text">
                            Iniciar Sesión
                        </button>
                        <hr>
                        
                    </form>
                        <p>Inicia Sesión con Redes Sociales</p>
                        <table align="center">
                            <tr>
                                <td>
                                    <button class="facebook">
                                        <i class="fab fa-facebook"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="google">
                                        <i class="fab fa-google"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="github">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <p class="message">¿Aún no estás registrado?
                            <a routerLink="/registro">Crea una cuenta</a>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>