.login {
    position: fixed;
    padding:0 !important;
    margin:0 !important;
    top:0 !important;
    left:0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    box-sizing: border-box !important;
}


.form {
  background: #fff;
  max-width: 400px;
  height: auto;
  margin: 13px auto  !important;
  padding: 15px 30px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box !important;  
}

@media only screen and (max-width: 600px) {
  .form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-Transform: translateY(-50%);
    background: #fff;
    max-width: 400px;
    height: auto;
    margin: auto !important;
    padding: 15px 30px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box !important;  
  }
}

@media only screen and (min-width: 650px) and (max-width: 736px){
  .form {
    position: relative;
    top: 75%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-Transform: translateY(-50%);
    background: #fff;
    max-width: 400px;
    height: auto;
    margin: 150px auto auto auto !important;
    padding: 15px 30px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box !important;  
  }
}

@media only screen and (min-width: 737px) and (max-width: 1024px){
  .form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-Transform: translateY(-50%);
    background: #fff;
    max-width: 400px;
    height: auto;
    margin: auto !important;
    padding: 15px 30px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box !important;  
  }
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 30px;
    border-radius: 3px; 
    box-sizing: border-box;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  outline: 0;
  background: #C8364E;
  width: 100%;
  border: 0;
  padding: 15px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-text {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

.form .message {
  margin: 15px 0 0;
  color: #45453F;
  font-size: 12px;
}
.form .message a {
  color: #225BDE;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.facebook {
  background-color: #4267B2;
  padding: 7px 20px;
  font-size: 25px;
}

.google {
  background-color: #EA4335;
  padding: 7px 17px;
  font-size: 25px;
}

.github {
  background-color: #24292E;
  padding: 7px 17px;
  font-size: 25px;
}

.btn-primary:hover {
  background-color: #225BDE;
}

.guide-text {
  text-align: left;
  margin-bottom: 0em;
}

.select-style {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

div.inline { 
  float:left; 
}

.alert-danger {
  color: #DD0031;
  background-color: #fff;
  font-size: 13px;
  border: 0;
  padding: 1px;
}