/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100% !important;
}

app-root {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
