.space {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #45453F;

}

.aceEditorDirective {
  margin-top: 50px;
  min-height: 200px;
  width: 100%;
  overflow: auto;
}

#editor {
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 535px; 
  width:100%; 
  overflow: auto; 
}

.button-row {
  position: absolute;
  right: 0px;
  margin-right: 7px;
}

.button-color {
  color: #45453F !important;
  text-transform: capitalize !important;
  font-size: 1.0em;
}