<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Configuraciones</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <p>Lenguaje</p>
          <select name="language" id="language" [(ngModel)]="language" (change)="selectedLanguage(language)" class="form-control">
            <option *ngFor="let lang of languages" [ngValue]="lang.value">{{lang.name}}</option>
          </select>
        </div>
        <div class="md-form mb-5">
          <p>Tema</p>
          <select name="theme" id="theme" [(ngModel)]="theme" (change)="selectedTheme(theme)" class="form-control">
            <option *ngFor="let sTheme of themes" [ngValue]="sTheme.value">{{sTheme.name}}</option>
          </select>
        </div>

        <div class="md-form mb-4">
          <p>Tamaño de la fuente</p>
          <select name="fontSize" id="fontSize" [(ngModel)]="fontSize" (change)="selectedFontSize(fontSize)" class="form-control">
            <option *ngFor="let fontSize of fontSizes" [ngValue]="fontSize.value">{{fontSize.name}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn class="button-color waves-light btn btn-light" mdbWavesEffect (click)="frame.hide()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="space">

  <button type="button" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
    mdbWavesEffect class="button-color btn btn-light waves-light mt-2 mr-3 mb-2 float-sm-right">Opciones</button>


  <ace-editor id="editor" (textChanged)="onRuleChange($event)" [(text)]="text" [autoUpdateContent]="true" [mode]="language"
    [theme]="theme" [ngStyle]="{'font-size': fontSize}"></ace-editor>


  <table class="button-row">
    <tr>
      <td>
        
        <div *ngIf="esEditable">
          <button mdbBtn type="button" class="button-color btn btn-light waves-light" mdbWavesEffect (click)="actualizar(text,language)">Actualizar</button>
        </div>

        <div *ngIf="!esEditable">
          <button mdbBtn type="button" class="button-color btn btn-light waves-light" mdbWavesEffect (click)="guardar(text,language)">Guardar</button>
        </div>
      </td>
      <td>
        <button mdbBtn type="button" class="button-color btn btn-light waves-light" mdbWavesEffect (click)="saveContent(text,language)">Guardar en el Ordenador</button>
      </td>
      <td>
        <button mdbBtn type="button" class="button-color btn btn-light waves-light" mdbWavesEffect (click)="irAHome()">Atrás</button>
      </td>
    </tr>
  </table>
  
</div>